<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress_Report</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <div class="progress">
        <h1 id="title-report" style="letter-spacing: 2px; font-size: 40px; color:white;">Generating Report Please Wait</h1>
        <div class="icon-btn-container">
            <a id="link-back" class="back-home hide" href="/">Back Home</a>
            <i id="icon" class="fa fa-spinner fa-spin" style="font-size:90px; color: #37E2D5"></i>
        </div>
    </div>

    <div id="div-filename" data-file-name={{file_name}}></div>

<script type="text/javascript" ; src="{{url_for('static', filename='js/script.js')}}"> </script>
</body>
</html>